<!DOCTYPE html>
<html lang="en">

<head>
    <!-- metadata -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- stylesheets -->


    <link rel="stylesheet" type="text/css" href="style/bodycarrito.css">
    <!-- fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,100&family=Roboto:ital,wght@1,100;1,300;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,100&family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,400;8..144,500;8..144,900&family=Roboto:ital,wght@1,100;1,300;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- title -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <title>SOIE</title>
    
    


</head>

    
<body>
    <header>
        <section id="header">
        </section>
    </header>

    <section id="main">


        <form action=""></form>
        <div class="parent">

            <div class="box_uno">
                <table class="principal">
                    <caption class="cap-prin">Productos y Servicios</caption>
                    <colgroup>

                    </colgroup>

                    <thead>
                        <!-- Encabezado de la tabla -->

                        <tr id=" titulos">
                            <th>Id</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Total</th>
                            <th>Comprar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="detalle">1</a></td>
                            <td>Producto 1</td>
                            <td>2</td>
                            <td>500</td>
                            <td>1000</td>
                            <td id="compra"><input type="checkbox" name="cb-compra" value="gusta"></td>
                        </tr>
                        <tr>
                            <td><a href="detalle">2</a></td>
                            <td>Producto 2</td>
                            <td>1</td>
                            <td>800</td>
                            <td>1600</td>
                            <td id="compra"><input type="checkbox" name="cb-compra" value="gusta"></td>
                        </tr>
                        <tr>
                            <td><a href="detalle">3</a></td>
                            <td>Producto3</td>
                            <td>4</td>
                            <td>300</td>
                            <td>1200</td>
                            <td id="compra"><input type="checkbox" name="cb-compra" value="gusta"></td>
                        </tr>
                        <tr>
                            <td><a href="detalle">4</a></td>
                            <td>Producto 4</td>
                            <td>2</td>
                            <td>500</td>
                            <td>1000</td>
                            <td id="compra"><input type="checkbox" name="cb-compra" value="gusta"></td>
                        </tr>
                        <tr>
                            <td><a href="detalle">5</a></td>
                            <td>Producto 5</td>
                            <td>3</td>
                            <td>600</td>
                            <td>1800</td>
                            <td id="compra"><input type="checkbox" name="cb-compra" value="gusta"></td>
                        </tr>
                        <tr>
                            <td><a href="detalle">6</a></td>
                            <td>Producto 6</td>
                            <td>3</td>
                            <td>600</td>
                            <td>1800</td>
                            <td id="compra"><input type="checkbox" name="cb-compra" value="gusta"></td>
                        </tr>
                        <tr>
                            <td><a href="detalle">7</a></td>
                            <td>Servicio 1</td>
                            <td>3</td>
                            <td>600</td>
                            <td>1800</td>
                            <td id="compra"><input type="checkbox" name="cb-compra" value="gusta"></td>
                        </tr>
                        <tr>
                            <td><a href="detalle">8</a></td>
                            <td>Servicio 2</td>
                            <td>3</td>
                            <td>600</td>
                            <td>1800</td>
                            <td id="compra"><input type="checkbox" name="cb-compra" value="gusta"></td>
                        </tr>
                        <tr>
                            <td><a href="detalle">9</a></td>
                            <td>Servicio 3</td>
                            <td>3</td>
                            <td>600</td>
                            <td>1800</td>
                            <td id="compra"><input type="checkbox" name="cb-compra" value="gusta"></td>
                        </tr>
                        <tr>
                            <td><a href="detalle">10</a></td>
                            <td>Servicio 4</td>
                            <td>3</td>
                            <td>600</td>
                            <td>1800</td>
                            <td id="compra"><input type="checkbox" name="cb-compra" value="gusta"></td>
                        </tr>

                    </tbody>

                </table>
            </div>
            <div class="box_dos">
                <table class="resumen">
                    <caption class="cap-resu">Resumen</caption>
                    <thead>
                        <!-- Encabezado de la tabla -->
                    <tbody>
                        <tr>
                            <th>Producto</th>
                            <th>Impuestos</th>
                            <th>Subtotal</th>

                        </tr>
                        <tr>
                            <td>Producto 1</td>
                            <td>10</td>
                            <td>1010</td>
                        </tr>
                        <tr>
                            <td>Producto 2</td>
                            <td>8</td>
                            <td>808</td>

                        </tr>
                        <tr>
                            <td>Producto 3</td>
                            <td>120</td>
                            <td>1320</td>

                        </tr>
                        <tr>
                            <td>Producto 4</td>
                            <td>50</td>
                            <td>1050</td>

                        </tr>

                    </tbody>

                    </thead>

                </table>
                <div class="total">
                    <label >Total: 4188 </label>
                    <p class="full-width">
                        <button>Pagar</button>
                    </p>
                </div>
            </div>
        </div>



        </form>
    </section>

    <!--  <section id="footer">
        <h2>FOOTER</h2>

    </section>-->

</body>

</html>