<!DOCTYPE html>
<html lang="en">

<head>
    <!-- metadata -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="style/main.css">
    <link rel="stylesheet" type="text/css" href="style/bodycarrito.css">

    <!-- fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,100&family=Roboto:ital,wght@1,100;1,300;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/5c00d89eed.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/svg" href="/images/logo-mercado-liebre-favicon.svg" />
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,100&family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,400;8..144,500;8..144,900&family=Roboto:ital,wght@1,100;1,300;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- title -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <title>SOIE</title>

</head>


<body>
    <!-- HEADER -->
    <header>
        <div class="logo container">
            <a href="/">
                <img id="logo" src="images/logo/logo-SOIE.png" alt="logo SOIE">
            </a>
        </div>

        <div class="busqueda">
            <form action="get">
                <input type="text" name="busqueda" class="busqueda" placeholder="Buscar tratamiento"
                    autocapitalize="none">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </div>

        <nav class="header">
            <ul class="site">
                <li>
                    <a href="/">
                        <i class="fa-regular fa-house-blank"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/views/contacto">Contacto</a></li>
                <!--                 <li><a href="/views/sign-in">Crear usuario</a></li>
            <li><a href="/views/log-in">Ingresar</a></li> -->
            </ul>
        </nav>

        <div class="buttons">

            <a href="/login">
                <button class="usuario">
                    <i class="fa-solid fa-user"></i>
                </button>
            </a>

            <a href="/carrito">
                <button class="cart" style="position: relative;">
                    <i class="fa-solid fa-bag-shopping">
                    </i>
                    <div>2</div>
                </button>
            </a>

            <a href="#">
                <button class="menu-ham">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </a>

        </div>

    </header>




    <main>
        
        <h2 class="title">Carrito</h2>

        <div class="main-container">
            
            <div class="subtotal">
                <p>
                    Subtotal: <span class="precio">$12.300</span>
                </p>
                <a href="#" class="pagar">
                    <button class="pagar">
                        Proceder a pagar (n productos)
                    </button>
                </a>
            </div>

            <div class="productos">

                <div class="producto">

                    <div class="upper">
                        
                        <a href="#" class="img"> <!-- Luego linkear a detalle del producto -->
                            <img src="images/products/higiene_facial.PNG" alt="higiene_facial">
                        </a>
                        
                        <div class="detalles">
                            <a href="#"> <!-- Luego linkear a detalle del producto -->
                                <p class="titulo">Higiene Facial</p>
                            </a>
                            <p class="descripcion">Tratamiento capilar de Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p class="precio">$1500 <span class="descuento">2% off</span> </p>
                        </div>
    
                    </div>
                    
                    <div class="actions">
                        <div class="counter">
                            <div class="menos btn">-</div>
                            <div class="count">1</div>
                            <div class="mas btn">+</div>
                        </div>
                        <a href="#" class="eliminar">
                            <button>
                                Quitar del carrito
                            </button>
                        </a>
                    </div>                    

                </div>

                <div class="producto">

                    <div class="upper">
                        
                        <a href="#" class="img"> <!-- Luego linkear a detalle del producto -->
                            <img src="images/products/radiofrecuencia.png" alt="higiene_facial">
                        </a>
                        
                        <div class="detalles">
                            <a href="#"> <!-- Luego linkear a detalle del producto -->
                                <p class="titulo">Tratamiento #2 lorem lorem ipsum lorem blah blah</p>
                            </a>
                            <p class="descripcion">Tratamiento capilar de Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p class="precio">$1500 <span class="descuento">2% off</span> </p>
                        </div>
    
                    </div>

                    <div class="actions">
                        <div class="counter">
                            <div class="menos btn">-</div>
                            <div class="count">1</div>
                            <div class="mas btn">+</div>
                        </div>
                        <a href="#" class="eliminar">
                            <button>
                                Quitar del carrito
                            </button>
                        </a>
                    </div>                    

                </div>

                <div class="producto">

                    <div class="upper">
                        
                        <a href="#" class="img"> <!-- Luego linkear a detalle del producto -->
                            <img src="images/products/peeling.PNG" alt="higiene_facial">
                        </a>
                        
                        <div class="detalles">
                            <a href="#"> <!-- Luego linkear a detalle del producto -->
                                <p class="titulo">Peeling</p>
                            </a>
                            <p class="descripcion">Tratamiento capilar de Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p class="precio">$1500 <span class="descuento">2% off</span> </p>
                        </div>
    
                    </div>

                    <div class="actions">
                        <div class="counter">
                            <div class="menos btn">-</div>
                            <div class="count">1</div>
                            <div class="mas btn">+</div>
                        </div>
                        <a href="#" class="eliminar">
                            <button>
                                Quitar del carrito
                            </button>
                        </a>
                    </div>                    

                </div>

                <div class="producto">

                    <div class="upper">
                        
                        <a href="#" class="img"> <!-- Luego linkear a detalle del producto -->
                            <img src="images/products/higiene_facial.PNG" alt="higiene_facial">
                        </a>
                        
                        <div class="detalles">
                            <a href="#"> <!-- Luego linkear a detalle del producto -->
                                <p class="titulo">Higiene Facial</p>
                            </a>
                            <p class="descripcion">Tratamiento capilar de Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p class="precio">$1500 <span class="descuento">2% off</span> </p>
                        </div>
    
                    </div>

                    <div class="actions">
                        <div class="counter">
                            <div class="menos btn">-</div>
                            <div class="count">1</div>
                            <div class="mas btn">+</div>
                        </div>
                        <a href="#" class="eliminar">
                            <button>
                                Quitar del carrito
                            </button>
                        </a>
                    </div>                    

                </div>

            </div>

        </div>

    </main>

    <footer>
        <ul>
            <li>
                <div class="img-container">
                    <img class="logo" src="images/logo/logo-mariposa.png" alt="mariposa">
                </div>
            </li>
            <li>
                <h2>SOIE</h2>
                <a href="#">Preguntas</a>
                <a href="#">Ayuda</a>
            </li>
            <li>
                <h2>PRODUCTOS</h2>
                <a href="#">Consultas</a>
                <a href="#">Pedidos especiales</a>
                <a href="#">Empresarial</a>
            </li>
        </ul>
        <div id="copyright">Copyright: ----------</div>
    </footer>

</body>

</html>