
<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%> 

<body>
    <!-- HEADER -->
    <%- include('./partials/header')%> 
    
    <main>
        <h1>error 404:</h1><span>pagina no disponible</span>
    </main>




    <!-- FOOTER -->
    <%- include('./partials/footer')%>
</body>
</html>