<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

    <!-- HEADER -->
    <%- include('./partials/header') %> 

    <div class="content">

        <section id="main">
            <div class="banner">
                <!-- <img src="images\\banner\\banner-1.png" alt="banner"> -->
<!--                 <img src="images\products\radiofrecuencia.PNG" alt="banner"> -->
            </div>
            
            <section class="slider-wrapper">
                <button class="slide-arrow" id="slide-arrow-prev">
                    &#8249; 
                </button>
                <button class="slide-arrow" id="slide-arrow-next">
                    &#8250; 
                </button>
                <ul class="slides-container" id="slides-container">
                    <% products.forEach( ( product,i)=>{ %>
                        <li class="slide">
                            <img src=<%= product.img %> alt="foto" class="bannerImg">
                        </li>
                    <% }) %> 
                </ul>
            </section>

            <div class="about-us">
                <div class="card">
                    <h2 class="about">¿Quiénes somos?</h2>
                    <p>Soie es una emprendimiento,con mas de 10 años de experiencia dedicandonos al Tratamientos Faciales. Realizamos prevencion o cuidado, ayudando a pacientes con tratamientos especificos.</p>
                </div>
                <div class="card">
                    <img src="/images\products\radiofrecuencia.PNG" alt="banner">
                </div>

                <div class="card">
                    <a href="/products">
                        <button>
                            ¡Conocé nuestros productos!
                        </button>
                    </a>
                </div>
            </div>
        </section>
    

        <!-- FOOTER -->
        <%- include('./partials/footer')  %> 
    </div>

    <script src="js/index.js"></script>

</body>

</html>