<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %> 

<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>




    <main>
        
        <h2 class="title">Carrito</h2>

        <div class="main-container">
            
            <div class="subtotal">
                <p>
                    Subtotal: <span class="precio">$12.300</span>
                </p>
                <a href="#" class="pagar">
                    <button class="pagar">
                        Proceder a pagar (n productos)
                    </button>
                </a>
            </div>

            <div class="productos">

                <div class="producto">

                    <div class="upper">
                        
                        <a href="#" class="img"> <!-- Luego linkear a detalle del producto -->
                            <img src="images/products/higiene_facial.PNG" alt="higiene_facial">
                        </a>
                        
                        <div class="detalles">
                            <a href="#"> <!-- Luego linkear a detalle del producto -->
                                <p class="titulo">Higiene Facial</p>
                            </a>
                            <p class="descripcion">Tratamiento capilar de Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p class="precio">$1500 <span class="descuento">2% off</span> </p>
                        </div>
    
                    </div>
                    
                    <div class="actions">
                        <div class="counter">
                            <div class="menos btn">-</div>
                            <div class="count">1</div>
                            <div class="mas btn">+</div>
                        </div>
                        <a href="#" class="eliminar">
                            <button>
                                Quitar del carrito
                            </button>
                        </a>
                    </div>                    

                </div>

                <div class="producto">

                    <div class="upper">
                        
                        <a href="#" class="img"> <!-- Luego linkear a detalle del producto -->
                            <img src="images/products/radiofrecuencia.png" alt="higiene_facial">
                        </a>
                        
                        <div class="detalles">
                            <a href="#"> <!-- Luego linkear a detalle del producto -->
                                <p class="titulo">Tratamiento #2 lorem lorem ipsum lorem blah blah</p>
                            </a>
                            <p class="descripcion">Tratamiento capilar de Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p class="precio">$1500 <span class="descuento">2% off</span> </p>
                        </div>
    
                    </div>

                    <div class="actions">
                        <div class="counter">
                            <div class="menos btn">-</div>
                            <div class="count">1</div>
                            <div class="mas btn">+</div>
                        </div>
                        <a href="#" class="eliminar">
                            <button>
                                Quitar del carrito
                            </button>
                        </a>
                    </div>                    

                </div>

                <div class="producto">

                    <div class="upper">
                        
                        <a href="#" class="img"> <!-- Luego linkear a detalle del producto -->
                            <img src="images/products/peeling.PNG" alt="higiene_facial">
                        </a>
                        
                        <div class="detalles">
                            <a href="#"> <!-- Luego linkear a detalle del producto -->
                                <p class="titulo">Peeling</p>
                            </a>
                            <p class="descripcion">Tratamiento capilar de Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p class="precio">$1500 <span class="descuento">2% off</span> </p>
                        </div>
    
                    </div>

                    <div class="actions">
                        <div class="counter">
                            <div class="menos btn">-</div>
                            <div class="count">1</div>
                            <div class="mas btn">+</div>
                        </div>
                        <a href="#" class="eliminar">
                            <button>
                                Quitar del carrito
                            </button>
                        </a>
                    </div>                    

                </div>

                <div class="producto">

                    <div class="upper">
                        
                        <a href="#" class="img"> <!-- Luego linkear a detalle del producto -->
                            <img src="images/products/higiene_facial.PNG" alt="higiene_facial">
                        </a>
                        
                        <div class="detalles">
                            <a href="#"> <!-- Luego linkear a detalle del producto -->
                                <p class="titulo">Higiene Facial</p>
                            </a>
                            <p class="descripcion">Tratamiento capilar de Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p class="precio">$1500 <span class="descuento">2% off</span> </p>
                        </div>
    
                    </div>

                    <div class="actions">
                        <div class="counter">
                            <div class="menos btn">-</div>
                            <div class="count">1</div>
                            <div class="mas btn">+</div>
                        </div>
                        <a href="#" class="eliminar">
                            <button>
                                Quitar del carrito
                            </button>
                        </a>
                    </div>                    

                </div>

            </div>

        </div>

    </main>

    <footer>
        <ul>
            <li>
                <div class="img-container">
                    <img class="logo" src="images/logo/logo-mariposa.png" alt="mariposa">
                </div>
            </li>
            <li>
                <h2>SOIE</h2>
                <a href="#">Preguntas</a>
                <a href="#">Ayuda</a>
            </li>
            <li>
                <h2>PRODUCTOS</h2>
                <a href="#">Consultas</a>
                <a href="#">Pedidos especiales</a>
                <a href="#">Empresarial</a>
            </li>
        </ul>
        <div id="copyright">Copyright: ----------</div>
    </footer>

</body>

</html>