<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
    <body>
        <!-- HEADER -->
        <%- include('../partials/header.ejs') %>
            <main>
                <section class="contenedor-formularios">

                    <%- include('../partials/productForm.ejs') %>

                </section>
            </main>
            
            <!-- FOOTER -->
            <%- include('../partials/footer.ejs') %>

            <script src="/js/formHandlers/productNew.js" defer></script>

    </body>

</html>
