<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head.ejs') %>


    <body>
        <!-- HEADER -->
        <%- include('./includes/header.ejs') %>
            <section>
                <form action="/products/save" target="" method="post" name="formDatosProducto" enctype="multipart/form-data">

                    <label for="titulo">Nombre del Producto</label>
                    <input type="text" name="titulo" id="titulo" placeholder="Escribe el nombre del producto" />

                    <label for="descripcion">Descripción</label>
                    <textarea name="descripcion" for="descripc"
                        placeholder="describe brevemente en menos de 300 carácteres" maxlength="300"></textarea></br>
                    <label for="titulo">Precio</label>
                    <input type="number" name="precio" id="precio" step="0.01" min="0" autocomplete="off" /></br>
                    
                    <label for="estado">Descuento</label></br>
                    <input type="radio" id="cero" name="fav_language" value="0">
                      <label for="cero">Sin Descuento</label></br>
                    <input type="radio" id="uno" name="fav_language" value="1">
                      <label for="uno">Tipo de descuento uno</label></br>
                    <input type="radio" id="dos" name="fav_language" value="2">
                      <label for="dos">Tipo de descuento dos</label></br>

                    <label for="categoria">Categoria</label></br>
                    <input type="radio" id="prod" name="fav_language" value="prod">
                      <label for="prod">Producto</label></br>
                    <input type="radio" id="serv" name="fav_language" value="serv">
                      <label for="serv">Servicio</label></br>


                    <input type="file" name="image" id="image" /></br>

                    <label for="titulo">Tiempo Servicio</label>
                    <input type="text" name="titulo" id="titulo" placeholder="Escribe el nombre del producto" /></br>

                    <select name="Tiempo Servicio en minutos">
                        <option>30</option>
                        <option>45</option>
                        <option>60</option>
                        <option>90</option>
                        <option>180</option>                    
                    </select></br>

                    <select name="Tamaño del producto">
                        <option>XS</option>
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                        <option>XXL</option>                     
                    </select></br>

                   
                    <label for="categoria">Tipo de servicio o producto</label></br>
                    <input type="radio" id="tratamiento" name="fav_language" value="tratamiento">
                      <label for="tratamiento">Tratamiento</label></br>
                    <input type="radio" id="cuidado" name="fav_language" value="cuidado">
                      <label for="cuidado">Cuidado</label></br>
                   
                    <label for="estado">Estado</label></br>
                      <input type="radio" id="activo" name="fav_language" value="Activo">
                      <label for="activo">Activo</label></br>

                    <button class="bt2">Save</button>
                    
                </form>
            </section>
            <!-- FOOTER -->
            <%- include('./includes/footer.ejs') %>

    </body>

</html>


Nombre del Producto
Descripción
Precio
Descuento
Categoría (producto o servicio)
Imagen
Tiempo servicio
Tamaño del producto
Tipo de servicio o producto (tratamiento, cuidado, etc.)