.panel{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 25vw;
    margin: 2%;
}

h3{
    justify-self: flex-start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4{
    text-align: left;
    justify-self: center;
    font-size: x-large;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    text-decoration: none;
    line-height: 2em;
    font-weight: 300;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width:1000px) {
    .panel{
        width: 60%;
        height: auto;
    }
}