<footer>
    
    <ul>
        <li>
            <div class="img-container">
                <img class="logo" src="images/logo/logo-mariposa.png" alt="mariposa">
            </div>
        </li>
        <li>
            <h2>SOIE</h2>
            <a href="#">Preguntas</a>
            <a href="#">Ayuda</a>
        </li>
        <li>
            <h2>PRODUCTOS</h2>
            <a href="#">Consultas</a>
            <a href="#">Pedidos especiales</a>
            <a href="#">Empresarial</a>
        </li>
    </ul>
    <div id="copyright">Copyright: ----------</div>

</footer>