<header>

<div class="logo container">
    <a href="/">
        <img id="logo" src="/images/logo/logo-SOIE.png" alt="logo SOIE">
    </a>
</div>

<div class="busqueda">
    <form action="/products/" method="get">
        <input type="text" name="name" id="busqueda" class="busqueda" placeholder="Buscar tratamiento" autocapitalize="none">
        <i class="fa-solid fa-magnifying-glass"></i>
    </form>
</div>

<nav class="header">
    <ul class="site">
        <li>
            <a href="/">
                <i class="fa-regular fa-house-blank"></i>
                <span>Inicio</span>
            </a>
        </li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/views/contacto">Contacto</a></li>
        <li><a href="/products/create">Crear producto</a></li>
<!--                 <li><a href="/views/sign-in">Crear usuario</a></li>
        <li><a href="/views/log-in">Ingresar</a></li> -->
    </ul>
</nav>

<div class="buttons">

    <a href="/users/login">
        <button class="usuario">
            <i class="fa-solid fa-user"></i>
        </button>
    </a>
    
    <a href="/checkout">
        <button class="cart" style="position: relative;">
            <i class="fa-solid fa-bag-shopping">
            </i>
            <div>2</div>
        </button>
    </a>
    
    <a href="#">
        <button class="menu-ham">
            <i class="fa-solid fa-bars"></i>
        </button>
    </a>
    
</div>
</header>