<header>

    <div class="logo container">
        <a href="/">
            <img id="logo" src="/images/logo/logo-SOIE.png" alt="logo SOIE">
        </a>
    </div>

    <div class="busqueda">
        <form action="/products/" method="get">
            <input type="text" name="name" id="busqueda" class="busqueda" placeholder="Buscar"
                autocapitalize="none">
            <i class="fa-solid fa-magnifying-glass"></i>
        </form>
    </div>

    <% if(userLogged == undefined){ %>  

        <nav class="header">
            <ul class="site">
    
                <li><a href="/products">Productos</a></li>
                <li><a href="/contacto">Contacto</a></li>
                
                <!--                 <li><a href="/views/sign-in">Crear usuario</a></li>
            <li><a href="/views/log-in">Ingresar</a></li> -->
            </ul>
        </nav>

    <div class="noUser">
            <a href="/users/login">Log In</a>
            <p>/</p>
            <a href="/users/signin">Sign In</a>
    </div>
        
        <% } else{ %>

            <nav class="header">
                <ul class="site">
        
                    <li><a href="/products">Productos</a></li>
                    <% if (userLogged.id_category == 2 || userLogged.id_category == 3) { %>
                        <li><a href="/users/list">Lista de usuarios</a></li>
                        <li><a href="/products/create">Crear producto</a></li>
                    <% } %> 
                    <!--                 <li><a href="/views/sign-in">Crear usuario</a></li>
                <li><a href="/views/log-in">Ingresar</a></li> -->
                </ul>
            </nav>

        <div class="user">
                <img class="userImage" src=<%= userLogged.image %>  alt="Imagen de usuario">
                <% if (userLogged.id_category == 2 || userLogged.id_category == 3) { %>
                    <a href="/users/profile" style="color: red;"> 
                        <%= userLogged.firstName %> 
                    </a>
                <% } else { %>
                    <a href="/users/profile"> 
                        <%= userLogged.firstName %> 
                    </a>
                <% } %> 
            </div>
        <% } %>

            
    <div class="buttons">

        <!--<a href="/users/login">
            <button class="usuario">
                <i class="fa-solid fa-user"></i>
            </button>
        </a>-->

        <a href="/checkout">
            <button class="cart" style="position: relative;">
                <i class="fa-solid fa-bag-shopping"></i>

                <% if (userLogged != undefined && userLogged.cartItems != '0') { %>
                    
                        <div><%= userLogged.cartItems %> </div>
                    
                <% } %>

            </button>
        </a>

        <a href="#">
            <button class="menu-ham">
                <i class="fa-solid fa-bars"></i>
            </button>
        </a>

    </div>
</header>