main h2.title {
  margin-left: 10%;
  display:none;
}

main div.main-container {
  width : 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  justify-content: center;
  justify-items: center;
}


main div.subtotal {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2%;
}

main div.subtotal p {
  font-size: larger;
}

main div.subtotal p span {
  font-weight: bold;
}

main div.subtotal a {
  width: 100%;
}

main div.subtotal a button {
  width: 100%;
  background-color: var(--azul);
  color: aliceblue;
  border: solid 1px var(--celeste);
  border-radius: 0.5em;
  font-size: large;
  padding: 0.5em 1em;
}

main div.producto {
  display:grid;
  grid-template-areas:
  "i d d d d d d d d d"
  "a a a a a a a a a a";
}

main div.producto a.img {
  grid-area: 'i';
  grid-column: 1fr;
}

main div.producto img {
  width: 100%;
}

main div.producto div.detalles {
  grid-area: 'd';
  grid-column: 5fr;
}


main div.producto img {
  grid-area: 'i';
}

main div.producto img {
  grid-area: 'i';
}










@media (max-width: 768px) {



}

@media (max-width: 800px) {



}

@media (max-width: 1280px) {


}