main div{
    width: 100%;
}

main h1{
    font-family: 'Roboto serif', serif;
    font-size: xx-large;
}

main input{
    font-family: 'Montserrat', sans-serif;
}

.signInBox {
    color: #CAE7E2;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: 60%;
    background-color: rgba(4, 104, 111, 0.7); 
    justify-content: space-evenly;
    margin: 30px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 30%);
}
 
main .forms label{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

main .forms input {
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    width: 80%;
    height: 35px;
    border: none;
}

main .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: no-wrap;
}

main label{
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

main #gender{
    margin-bottom: 10px;
}

main section {
    display: flex;
    justify-content: center;
}

main .btn{
    margin: 20px 0;
}


.sin-cuenta{
    margin-bottom: 3%;
}

main input[type="button"]{
    background-color: #CAE7E2;
    border-radius: 5px;
    height: 35px;
    width: auto;
    font-weight: 600;
    border: none;
}

main input[type="submit"]:hover {
    cursor: pointer;
    background-color: white;
    transform: scale(1.1);
    transition-duration: 0.1s;
}

main input[type="submit"]:active {
    background-color: darkblue;
    transform: scale(0.9);
    transition-duration: 0.1s;
}

main input[type="submit"]{
    background-color: #CAE7E2;
    border-radius: 5px;
    height: 35px;
    width: auto;
    font-weight: 600;
    border: none;
}

main input[type="button"]:active, input[type="submit"]:active {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 35px;
    width: auto;
    font-weight: 600;
    border: none;
}

main .error {
    color: red;
    background-color: aliceblue;
    font-size: small;
    width: 50%;
    border: solid 1px red;
}

@media (max-width:800px) {
    main .signInBox{
        width: 90%;
    }
}

@media (min-width:1200px) {
    main .signInBox{
        width: 35%;
    }
}