:root {

    /* paleta de colores */
    --marron            : #B4AA9B;
    --marron-suave      : hsla(37, 14%, 66%, 0.393);
    --azul              : rgb(4, 103, 110);
    --azul-suave        : rgba(4, 104, 111, 0.7);
    --celeste           : #cde5e1;
    --celeste-suave     : #d3e8e5fe;
    --verde             : rgb(92 136 79 / 100%);
    --verde-suave       : rgb(188 223 183 / 100%);
    --texto-1           : rgba(0, 57, 60, 0.815);

    /* fuentes de texto */
    --fuente-1:'Monserrat';
    --fuente-2:'Robot','serif';

    /* limites del MQ */
    --tablet    : 600px
}


/* test */
* {
    box-sizing: border-box;
    font-family: var(--fuente-1);
}

body {
    width: 100%;
    margin: 0;
    background-color: var(--celeste-suave);
}

body section {
    /* border: 1px solid var(--azul); */
    margin: 5px;
    text-align: center;
    background-color: var(--celeste);
    color: black;
}

#main {
    background-color: transparent;
}

