@import url('header.css');


:root {

    /* paleta de colores */
    --marron            : #B4AA9B;
    --azul              : rgb(0 168 181 / 100%);
    --azul-suave        : rgb(0 168 181 / 54%);
    --celeste           : #cae7e2;
    --celeste-suave     : #ceeee9;
    --verde             : rgb(92 136 79 / 100%);
    --verde-suave       : rgb(188 223 183 / 100%);
    --texto-1           : rgba(0, 57, 60, 0.815);

    /* fuentes de texto */
    --fuente-1:'Merriweather', serif;

    /* limites del MQ */
    --tablet    : 600px
}


/* test */
* {
    box-sizing: border-box;
    font-family: var(--fuente-1);
}

body {
    width: 100vw;
    margin: 0;
    background-color: var(--celeste-suave);
}

body section {
    border: 1px solid var(--azul);
    margin: 5px;
    text-align: center;
    background-color: var(--celeste);
    color: black;
    height: 200vh;
}

#main {
    background-color: transparent;
}

