main div{
    width: 100%;
}

main label{
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
main input{
    font-family: 'Montserrat', sans-serif;
}

.contenedor-formularios{
    color: #CAE7E2;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:center;
    align-content:space-around ;
    margin: 30px rgba(182, 79, 7, 0.726);
    padding: 100px 70px 15px 70px;
   
    text-align: justify;
    font-size: 16px;
}

.contenedor-input {
    /*position: relative;
    margin-bottom: 40px;*/

    color: #CAE7E2;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: 60%;
    background-color: rgba(4, 104, 111, 0.7); 
    justify-content: space-evenly;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}

.bt2{padding:6px;border-radius:10px;}


@media (max-width:800px) {
    main .contenedor-formularios{
        width: 90%;
    }
}

@media (min-width:1200px) {
    main .contenedor-formularios{
        width: 35%;
    }
}