main div{
    width: 100%;
}

main h1{
    font-family: 'Roboto serif', serif;
    font-size: xx-large;
}

main input{
    font-family: 'Montserrat', sans-serif;
}

.signInBox {
    color: #CAE7E2;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: 60%;
    background-color: rgba(4, 104, 111, 0.7); 
    justify-content: space-evenly;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
 
main form label{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

main form input, main form select {
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    width: 80%;
    height: 35px;
    border: none;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: no-wrap;
}

main label{
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

main section {
    display: flex;
    justify-content: center;
}

main .btn{
    margin: 20px;
}

main input[type="button"]{
    background-color: #CAE7E2;
    border-radius: 5px;
    height: 35px;
    width: auto;
    font-weight: 600;
    border: none;
}

main .error {
    color: red;
    background-color: aliceblue;
    font-size: small;
    width: 50%;
    border: solid 1px red;
}

@media (max-width:800px) {
    main .signInBox{
        width: 90%;
    }
}

@media (min-width:1200px) {
    main .signInBox{
        width: 35%;
    }
}



.contenedor-formularios{
    width: 40%;
    border: 1px solid lightgray;
    border-radius: 15px;
    color: #CAE7E2;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content:center;
    align-content:space-around ;
    margin: 30px rgba(182, 79, 7, 0.726);
    padding: 100px 70px 15px 70px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 16px;
    box-sizing: border-box;
}

.contenedor-input {
    width: 100%;
    color: #CAE7E2;
    display:flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 5px;
    font-weight: 600;
    /* background-color: rgba(4, 104, 111, 0.7);  */
    /* box-shadow: rgba(13, 70, 109, 0.24) 0px 3px 8px; */
    padding: 0.5rem;

}

.contenedor-input.is-invalid {
    animation-fill-mode: forwards;
    background-color: rgb(208, 168, 168);
    box-shadow: rgba(109, 13, 13, 0.66) 0px 3px 8px;
    border: 1px solid red;
}

.contenedor-input.is-invalid :not(input,textarea) {
    color: rgb(90, 0, 0);
}

.contenedor-input.is-valid {
    /* animation: shake 0.5s linear 0s 1 ; */
    animation-fill-mode: forwards;
    background-color: rgba(4, 104, 111, 0.852);
    /* box-shadow: rgba(13, 109, 13, 0.66) 0px 3px 8px; */
}

.contenedor-input.is-valid :not(input,textarea) {
    font-weight: 600;
}

.contenedor-input.shake {
    animation: shake 0.5s linear 0s 1 ;
    animation-fill-mode: forwards;
}

@keyframes shake {

    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
    
}

/* .contenedor-input:{

} */

.contenedor-input div {
    background-color: rgba(4, 104, 111, 0.0);
    text-align: left;
}

.contenedor-input input, .contenedor-input textarea {
    border: none;
    outline: none;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 5px;
}

.contenedor-input .invalid-feedback {
    padding: 0.5rem 1rem 0;
    text-align: center;
}

.contenedor-input .invalid-feedback i {
    margin-right: 0.5rem;
}

.bt2{ 
    background-color: #a3dfd5;
    border-radius: 5px;
    height: 45px;
    width: 100px;
    font-weight: 600;
    margin: 5px;
    border: none;
}


@media (max-width:800px) {
    main .contenedor-formularios{
        width: 90%;
    }
}